<h1>Welcome#index</h1>
<p>
  <% if @current_user %>
    Welcome, <%= @current_user.email %>!

    Log out <%= link_to "here", logout_path %>

  <% else %>

    Log in <%= link_to "here", new_session_path %>

  <% end %>
</p>
